In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(columns=['A', 'B', 'C'])
df

Empty DataFrame
Columns: [A, B, C]
Index: []

In [3]:
df.loc[0, 'B'] = 1
df.loc[1] = [1, 2, 3]
df

     A  B    C
0  NaN  1  NaN
1    1  2    3

In [4]:
df1 = pd.DataFrame({'A':['a1', 'a2'], 'B':['b1', 'b2']})
df2 = pd.DataFrame({'B':['b1'], 'C':['c1']})

In [5]:
df1.append(df2)

C:\Users\anton\AppData\Local\Temp\ipykernel_4776\3062608662.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2)

     A   B    C
0   a1  b1  NaN
1   a2  b2  NaN
0  NaN  b1   c1

In [7]:
df = pd.DataFrame({"color":['red', 'blue', 'red', 'blue']}, index=[True, False, True, False])
df

      color
True    red
False  blue
True    red
False  blue

In [8]:
df.loc[True]

     color
True   red
True   red

In [9]:
colors = ['red', 'blue', 'red', 'blue']
names = ['rose', 'violet', 'tulip', 'hareball']
size = ['big', 'big', 'small', 'small']

df = pd.DataFrame({"colors": colors, "names": names, "size": size})
df

  colors     names   size
0    red      rose    big
1   blue    violet    big
2    red     tulip  small
3   blue  hareball  small

In [10]:
df[[True, False, True, False]]

  colors  names   size
0    red   rose    big
2    red  tulip  small

In [11]:
df['size'] == 'small'

0    False
1    False
2     True
3     True
Name: size, dtype: bool

In [12]:
size_small_mask = df['size'] == 'small'
df[size_small_mask]

  colors     names   size
2    red     tulip  small
3   blue  hareball  small

In [15]:
df = pd.DataFrame({"color": colors, "size": size})
df.index.name = "name"
df.index = names
df

         color   size
rose       red    big
violet    blue    big
tulip      red  small
hareball  blue  small

In [16]:
rose_mask = df.index == 'rose'
df[rose_mask]

     color size
rose   red  big