In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(columns=['A', 'B', 'C'])
df

Empty DataFrame
Columns: [A, B, C]
Index: []

In [8]:
df.loc[0, 'B'] = 1
df.loc[1] = [1, 2, 3]
df

     A    B    C
1  1.0  2.0  3.0
0  NaN  1.0  NaN

In [9]:
df1 = pd.DataFrame({'A':['a1', 'a2'], 'B':['b1', 'b2']})
df2 = pd.DataFrame({'B':['b1'], 'C':['c1']})

In [12]:
df1.append(df2)

C:\Users\anton\AppData\Local\Temp\ipykernel_6504\3062608662.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2)

     A   B    C
0   a1  b1  NaN
1   a2  b2  NaN
0  NaN  b1   c1